<div class="settings-panel">
    <h3>Аналіз з параметрами</h3>
    <div class="dropdown-container">
      <p for="symbolSelect">Вибір символу:</p>
      <p-dropdown
        name="symbolSelect"
        id="symbolSelect"
        [options]="symbols"
        [(ngModel)]="selectedSymbol"
        [filter]="true"
        placeholder="Виберіть символ"
        class="custom-dropdown">
      </p-dropdown>
    </div>
    <div class="dropdown-container">
      <p for="timeFrameSelect">Таймфрейм:</p>
      <p-dropdown
        id="timeFrameSelect"
        [options]="timeFrames"
        [(ngModel)]="timeFrame"
        class="custom-dropdown">
      </p-dropdown>
    </div>
    <div class="dropdown-container">
      <p for="timeRangeSelect">Діапазон часу:</p>
      <p-dropdown
        id="timeRangeSelect"
        [options]="timeRanges"
        [(ngModel)]="selectedTimeRange"
        class="custom-dropdown">
      </p-dropdown>
    </div>
    <div class="input-container">
      <label for="maxGreenCandles">Максимум зелених свічок:</label>
      <input
        type="number"
        id="maxGreenCandles"
        [(ngModel)]="maxGreenCandles"
        class="custom-input" />
    </div>
    <div class="input-container">
      <label for="minConsecutiveCandles">Мінімум підрядних свічок:</label>
      <input
        type="number"
        id="minConsecutiveCandles"
        [(ngModel)]="minConsecutiveCandles"
        class="custom-input" />
    </div>
    <div class="input-container">
      <label for="significantDropThreshold">Поріг падіння (%):</label>
      <input
        type="number"
        id="significantDropThreshold"
        [(ngModel)]="significantDropThreshold"
        class="custom-input" />
    </div>
    <div class="button-container">
      <button
        pButton
        label="Оновити графік"
        (click)="onUpdateChart()"
        class="custom-button">
      </button>
      <button
        pButton
        label="Запустити аналіз"
        (click)="onAnalyzeData()"
        class="custom-button">
      </button>
    </div>
  </div>