<app-chart
[chartData]="chartData"
[selectedSymbol]="selectedSymbol"
[timeFrame]="timeFrame">
</app-chart>
  <div class="tabs-container">
    <p-tabView>
      <p-tabPanel header="Аналіз з параметрами">
        <app-analysis-settings
          [symbols]="symbols"
          [selectedSymbol]="selectedSymbol"
          [timeFrames]="timeFrames"
          [timeRanges]="timeRanges"
          [maxGreenCandles]="maxGreenCandles"
          [minConsecutiveCandles]="minConsecutiveCandles"
          [significantDropThreshold]="significantDropThreshold"
          (updateChart)="fetchChartData()"
          (analyzeData)="analyzeData()">
        </app-analysis-settings>
      </p-tabPanel>

      <p-tabPanel header="Лайв-аналіз">
        <app-live-analysis
          [liveSignals]="liveSignals"
          [isLoading]="isLoading"
          (startLiveAnalysis)="startLiveAnalysisHandler()">
        </app-live-analysis>
      </p-tabPanel>
    </p-tabView>
  </div>